For Windows

py -m venv .venv
.\.venv\Scripts\Activate
python.exe -m pip install --upgrade pip
pip install pypresence websockets

python youtube_music.py

for Linux
honsetly i forgot ask gemini im currently on windows cus this makes my life miserable